html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

/* .map-overlay {
	background: rgba(13, 21, 44, 0.9);
	border-radius: 5px;
	box-shadow: 4px 4px 7px rgba(29, 72, 165, 0.548);
	backdrop-filter: blur(10px);
}

.box-overlay {
	background: rgba(13, 21, 44, 0.9);
	border-radius: 5px;
	box-shadow: 4px 4px 7px rgba(29, 72, 165, 0.548);
	backdrop-filter: blur(10px);
} */

.map-overlay {
	background: rgba(7, 12, 59, 0.6);
	border-radius: 5px;
	box-shadow: 1px 1px 7px rgba(12, 86, 247, 1);
	backdrop-filter: blur(10px);
	color: #D8E0FA;
}

.box-overlay {
	background: rgba(24, 28, 66, 0.8);
	border-radius: 5px;
	box-shadow: inset 0px 0px 20px 2px rgba(47, 81, 114, 0.7);
	color: #C0D0FF
}

@font-face {
	font-family: 思源黑体Bold;
	src: url(../font/思源黑体Bold.otf);
}

@font-face {
	font-family: 思源黑体N;
	src: url(../font/SourceHanSansCN-Normal.otf);
}

@font-face {
	font-family: 思源黑体M;
	src: url(../font/SourceHanSansCN-Medium.otf);
}

@font-face {
	font-family: 思源黑体L;
	src: url(../font/SourceHanSansCN-Light.otf);
}

@font-face {
	font-family: 思源黑体R;
	src: url(../font/SourceHanSansCN-Regular.otf);
}